{
    "$schema": "https://json.schemastore.org/prettierrc",
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "semi": true,
    "trailingComma": "es5",
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": ["*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
